n8n_doc/state machne doc/State Machine Workflows - Validation Sub-Workflow - BLUEPRINT.json
{
  "name": "State Machine Workflows - Validation Sub-Workflow - BLUEPRINT",
  "nodes": [
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"valid\": false,\n    \"extracted_information\": \"information\",\n\t\"responseToUser\": \"please provide your response in the following format\",\n\t\"escalate_to_support\": false,\n\t\"restart\": false\n}"
      },
      "id": "1adf2d71-8dc7-4934-9531-cf1c9e086407",
      "name": "Validation Output Parser1",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -3376,
        -208
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "json_object"
            }
          }
        }
      },
      "id": "026947e4-b0cf-4b09-a1d9-dea78d530507",
      "name": "OpenAI Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -3632,
        -208
      ],
      "credentials": {
        "openAiApi": {
          "id": "ZOpj5TOQEHDUyvZz",
          "name": "OpenAi account 2 (AW)"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Start').item.json.sessionId }}",
        "contextWindowLength": 10
      },
      "id": "0f9475f9-267c-473c-b0d2-f8001646e741",
      "name": "Conversation Memory1",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -3504,
        -208
      ]
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "chatInput",
              "type": "any"
            },
            {
              "name": "agentInstructions",
              "type": "any"
            },
            {
              "name": "validationRule",
              "type": "any"
            },
            {
              "name": "question",
              "type": "any"
            },
            {
              "name": "sessionId",
              "type": "any"
            },
            {
              "name": "field_name"
            }
          ]
        }
      },
      "id": "6fb4e5c3-9892-4bdf-bff0-65640c46cc1b",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -4432,
        -640
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.field_name }}",
                    "rightValue": "order_number",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "3bc4559c-133c-498f-a7d0-8b96cdf88229"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Order Number"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "other_questions"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -4208,
        -640
      ],
      "id": "e098397d-aff8-4ace-a070-7016540dbdca",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5d24acd7-639e-4a4a-bd1b-95f981f486a5",
              "name": "output_responseToUser",
              "value": "={{ $json.output.responseToUser }}",
              "type": "string"
            },
            {
              "id": "d6217613-5204-43a2-a2e6-e93d3048bbce",
              "name": "output_extracted_information",
              "value": "={{ $json.output.extracted_information }}",
              "type": "string"
            },
            {
              "id": "e3b55651-8481-49a2-9ccf-4e2aca8f8488",
              "name": "output_restart",
              "value": "={{ $json.output.restart }}",
              "type": "boolean"
            },
            {
              "id": "219ff5df-a4a6-4d85-b1bc-3f707a7aed52",
              "name": "output_escalate_to_support",
              "value": "={{ $json.output.escalate_to_support }}",
              "type": "boolean"
            },
            {
              "id": "5644be13-30f3-48d9-a452-17c892001a8b",
              "name": "output_valid",
              "value": "={{ $json.output.valid }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3168,
        -432
      ],
      "id": "2f59efee-699d-4b39-a574-822eba4487d6",
      "name": "Return1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Start').item.json.chatInput }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are an agent that will assist customers process returns. You are friendly but focused on the task at hand. You are focused on data validation and extraction of the necessary data.\n\nYour task is to:\n1. Analyze the user's response to the current question\n2. Extract the requested information based on the current state\n3. Validate that the response meets the requirements\n4. Return the extracted data in the structured format. The responseToUser field should be populated with a friendly respond for the customer. Acknowledge their message in a friendly manner but stay on track. Only respond with the answers related to this step. Don't provide a sign off or offer for help with other items.\n\nQuestion:\n- {{ $json.question }}\n\nValidation rules:\n- {{ $json.validationRule }}\n\nAgent instructions:\n{{ $json.agentInstructions }}\n\nValid should only be set as TRUE when the user has provide the necessary information. Otherwise, return valid = false and provide a user response as necessary.\n\nIf validation fails, set valid to false and provide a helpful response to the user explaining what's wrong.\n\nIf there are 6 repeated attempts with no successful validation, set escalate_to_support to true. Otherwise escalate_to_support should be false.\n\nIf the user wants to start over or revert to a previous step, mention that you are going to start again and set restart to true. Otherwise restart should be false."
        }
      },
      "id": "5118dc49-890b-44fc-8ca3-ad9fb9909b4d",
      "name": "Validate Other Questions",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -3584,
        -432
      ],
      "retryOnFail": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "d612bb0c-9e86-46ed-b8c5-f3fd345674ad",
      "name": "OpenAI Model2",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -3616,
        -720
      ],
      "credentials": {
        "openAiApi": {
          "id": "ZOpj5TOQEHDUyvZz",
          "name": "OpenAi account 2 (AW)"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"order_number\": \"ORD-1241242\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -3440,
        -720
      ],
      "id": "0ec5633f-32bf-49cc-a4e8-4dcc558359f0",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.order_number }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notExists",
                      "singleValue": true
                    },
                    "id": "51dbe3aa-0f4e-4efd-a5f9-f7c0c9f68770"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Order Found!"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -2880,
        -944
      ],
      "id": "3bc7615f-3dea-448c-b6e7-ff00c92cd095",
      "name": "Switch1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Start').item.json.chatInput }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Respond to the user to say that the order has not been found.\n\nQuestion:\n{{ $('Start').item.json.question }}\n\nValidation rules:\n{{ $('Start').item.json.validationRule }}\n\nAgent instructions:\n{{ $('Start').item.json.agentInstructions }}\n\nIf there are 4 repeated attempts with no successful validation, set escalate_to_support to true. Otherwise escalate_to_support should be false.\n\nIf the user wants to start over or revert to a previous step, mention that you are going to start again and set restart to true. Otherwise restart should be false."
        }
      },
      "id": "22bab21c-2474-49bb-a9db-0107c07d7ff8",
      "name": "Order Not Found Response",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -2544,
        -1312
      ],
      "retryOnFail": true
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"valid\": false,\n    \"extracted_information\": \"information\",\n\t\"responseToUser\": \"please provide your response in the following format\",\n\t\"escalate_to_support\": false,\n\t\"restart\": false\n}"
      },
      "id": "751e825f-d08d-45b0-9116-22528a93d397",
      "name": "Validation Output Parser2",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -2336,
        -1088
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "json_object"
            }
          }
        }
      },
      "id": "3c1475f9-f089-4cbd-bbb5-b43b1942521f",
      "name": "OpenAI Model3",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -2592,
        -1088
      ],
      "credentials": {
        "openAiApi": {
          "id": "ZOpj5TOQEHDUyvZz",
          "name": "OpenAi account 2 (AW)"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Start').item.json.sessionId }}",
        "contextWindowLength": 10
      },
      "id": "98bc33cd-4805-4332-a74e-bd527c1ad017",
      "name": "Conversation Memory2",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -2464,
        -1088
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5d24acd7-639e-4a4a-bd1b-95f981f486a5",
              "name": "output_responseToUser",
              "value": "={{ $json.output.responseToUser }}",
              "type": "string"
            },
            {
              "id": "d6217613-5204-43a2-a2e6-e93d3048bbce",
              "name": "output_extracted_information",
              "value": "={{ $json.output.extracted_information }}",
              "type": "string"
            },
            {
              "id": "e3b55651-8481-49a2-9ccf-4e2aca8f8488",
              "name": "output_restart",
              "value": "={{ $json.output.restart }}",
              "type": "boolean"
            },
            {
              "id": "219ff5df-a4a6-4d85-b1bc-3f707a7aed52",
              "name": "output_escalate_to_support",
              "value": "={{ $json.output.escalate_to_support }}",
              "type": "boolean"
            },
            {
              "id": "5644be13-30f3-48d9-a452-17c892001a8b",
              "name": "output_valid",
              "value": "=false",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2128,
        -1216
      ],
      "id": "1b7d58b0-05dc-426f-a02a-653e88a40ff3",
      "name": "Return invalid"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5d24acd7-639e-4a4a-bd1b-95f981f486a5",
              "name": "output_responseToUser",
              "value": "=I've found your order. Thank you!",
              "type": "string"
            },
            {
              "id": "d6217613-5204-43a2-a2e6-e93d3048bbce",
              "name": "output_extracted_information",
              "value": "={{ $json.order_number }}",
              "type": "string"
            },
            {
              "id": "e3b55651-8481-49a2-9ccf-4e2aca8f8488",
              "name": "output_restart",
              "value": "=false",
              "type": "boolean"
            },
            {
              "id": "219ff5df-a4a6-4d85-b1bc-3f707a7aed52",
              "name": "output_escalate_to_support",
              "value": "=false",
              "type": "boolean"
            },
            {
              "id": "5644be13-30f3-48d9-a452-17c892001a8b",
              "name": "output_valid",
              "value": "=true",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2576,
        -736
      ],
      "id": "23f6d4cd-4163-4000-97d9-8106293aecb7",
      "name": "Respond order found"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "orders",
          "mode": "list",
          "cachedResultName": "orders"
        },
        "where": {
          "values": [
            {
              "column": "order_number",
              "value": "={{ $json.output.order_number }}"
            }
          ]
        },
        "options": {
          "outputColumns": [
            "order_number"
          ]
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -3152,
        -944
      ],
      "id": "28c54944-de7a-4095-86cf-09ab786f94a2",
      "name": "Order exists in database?",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "oFRF2wwKPzHphbbF",
          "name": "Postgres account (LL NLQ2)"
        }
      }
    },
    {
      "parameters": {
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=Extract out an order number in the following format: ORD-XXXXXXX from this. Adjust the formatting if required, e.g. if the user enters ORD 2129849 then format it as ORD-2129849, if the user enters 2129849 then format it as ORD-2129849."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -3584,
        -944
      ],
      "id": "986ca28e-58cf-44ae-9199-0c6059508413",
      "name": "Extract Order Number"
    },
    {
      "parameters": {
        "content": "@[youtube](QYLvnWAzcYY)",
        "height": 384,
        "width": 656,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -4000,
        -1440
      ],
      "id": "782c055f-4f8b-4732-adf8-b2f5fc32a3b2",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "[![The AI Automators](https://www.theaiautomators.com/wp-content/uploads/2025/03/gray-logo.png)](https://www.theaiautomators.com/)",
        "height": 380,
        "width": 580,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -4624,
        -1440
      ],
      "id": "a3a3bc09-7ffd-4d29-976c-a32394ed7dd8",
      "name": "Sticky Note10"
    }
  ],
  "pinData": {},
  "connections": {
    "Validation Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Validate Other Questions",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Validate Other Questions",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Conversation Memory1": {
      "ai_memory": [
        [
          {
            "node": "Validate Other Questions",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Extract Order Number",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Validate Other Questions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Other Questions": {
      "main": [
        [
          {
            "node": "Return1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Extract Order Number",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Extract Order Number",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Order Not Found Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond order found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Order Not Found Response": {
      "main": [
        [
          {
            "node": "Return invalid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Order Not Found Response",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Conversation Memory2": {
      "ai_memory": [
        [
          {
            "node": "Order Not Found Response",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Validation Output Parser2": {
      "ai_outputParser": [
        [
          {
            "node": "Order Not Found Response",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Order exists in database?": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Order Number": {
      "main": [
        [
          {
            "node": "Order exists in database?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "a243a792-86b2-480e-aed7-ee1befaf3cec",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b5d1ea132a4e071e6288b3143f31284b91560858bdef3f0c88a49f587fc91a29"
  },
  "id": "pynKUTPspzRXdhWQ",
  "tags": [
    {
      "updatedAt": "2025-05-12T13:43:59.783Z",
      "createdAt": "2025-05-12T13:43:59.783Z",
      "id": "d3ygIhrGjDmzgrW0",
      "name": "TheAIAutomators.com"
    }
  ]
}