n8n_doc/state machne doc/State Machine Workflows - Approach 2 - with Validation Sub-Workflow - BLUEPRINT.json
{
  "name": "State Machine Workflows - Approach 2 - with Validation Sub-Workflow - BLUEPRINT",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hi! Can you please provide your order number so we can process your return?\nYou can find your order number on your receipt or email confirmation.",
        "options": {
          "subtitle": "We're here to help you 24/7.",
          "title": "Support",
          "customCss": ":root {\n  /* Colors */\n  --chat--color-primary: #2f80ed;\n  --chat--color-primary-shade-50: #256fde;\n  --chat--color-primary-shade-100: #1e63cd;\n\n  --chat--color-secondary: #56ccf2;\n  --chat--color-secondary-shade-50: #2d9cdb;\n\n  --chat--color-white: #ffffff;\n  --chat--color-light: #f5f7fb;\n  --chat--color-light-shade-50: #e3e9f5;\n  --chat--color-light-shade-100: #c7d3eb;\n  --chat--color-medium: #a9b4cc;\n  --chat--color-dark: #132033;\n  --chat--color-disabled: #d2d7e2;\n  --chat--color-typing: #6b7280;\n\n  /* Base layout */\n  --chat--spacing: 1rem;\n  --chat--border-radius: 1rem;\n  --chat--transition-duration: 0.2s;\n  --chat--font-family: (\n    -apple-system,\n    BlinkMacSystemFont,\n    \"Segoe UI\",\n    Roboto,\n    Oxygen-Sans,\n    Ubuntu,\n    Cantarell,\n    \"Helvetica Neue\",\n    sans-serif\n  );\n\n  /* Window */\n  --chat--window--width: 420px;\n  --chat--window--height: 620px;\n  --chat--window--bottom: 1.5rem;\n  --chat--window--right: 1.5rem;\n  --chat--window--z-index: 9999;\n  --chat--window--border: 1px solid rgba(19, 32, 51, 0.06);\n  --chat--window--border-radius: 1.25rem;\n  --chat--window--margin-bottom: var(--chat--spacing);\n\n  /* Header */\n  --chat--header-height: auto;\n  --chat--header--padding: 0.9rem 1.1rem;\n  --chat--header--background: linear-gradient(135deg, #2f80ed, #56ccf2);\n  --chat--header--color: #ffffff;\n  --chat--heading--font-size: 1rem;\n  --chat--subtitle--font-size: 0.8rem;\n  --chat--subtitle--line-height: 1.4;\n\n  /* Messages */\n  --chat--message--font-size: 0.95rem;\n  --chat--message--padding: 0.7rem 0.9rem;\n  --chat--message--border-radius: 1rem;\n  --chat--message-line-height: 1.45;\n  --chat--message--margin-bottom: 0.6rem;\n\n  --chat--message--bot--background: #ffffff;\n  --chat--message--bot--color: #111827;\n\n  --chat--message--user--background: #2f80ed;\n  --chat--message--user--color: #ffffff;\n\n  --chat--message--pre--background: #f1f4fb;\n  --chat--messages-list--padding: 1rem;\n\n  /* Toggle button */\n  --chat--toggle--size: 60px;\n  --chat--toggle--width: var(--chat--toggle--size);\n  --chat--toggle--height: var(--chat--toggle--size);\n  --chat--toggle--border-radius: 50%;\n  --chat--toggle--background: #2f80ed;\n  --chat--toggle--hover--background: #256fde;\n  --chat--toggle--active--background: #1e63cd;\n  --chat--toggle--color: #ffffff;\n\n  /* Input */\n  --chat--textarea--height: 52px;\n  --chat--textarea--max-height: 30rem;\n  --chat--input--font-size: 0.95rem;\n  --chat--input--border: 0;\n  --chat--input--border-radius: 999px;\n  --chat--input--padding: 0.7rem 1rem;\n  --chat--input--background: #ffffff;\n  --chat--input--text-color: #111827;\n  --chat--input--placeholder--font-size: 0.95rem;\n  --chat--input--border-active: 0;\n  --chat--input--left--panel--width: 2rem;\n\n  /* Buttons */\n  --chat--button--color: #ffffff;\n  --chat--button--background: #2f80ed;\n  --chat--button--padding: 0.5rem 1rem;\n  --chat--button--border-radius: 999px;\n  --chat--button--hover--color: #ffffff;\n  --chat--button--hover--background: #256fde;\n  --chat--close--button--color-hover: #e5e7eb;\n\n  /* Send and file buttons */\n  --chat--input--send--button--background: #2f80ed;\n  --chat--input--send--button--color: #ffffff;\n  --chat--input--send--button--background-hover: #256fde;\n  --chat--input--send--button--color-hover: #ffffff;\n\n  --chat--input--file--button--background: transparent;\n  --chat--input--file--button--color: #6b7280;\n  --chat--input--file--button--background-hover: #e5ebf8;\n  --chat--input--file--button--color-hover: #374151;\n\n  /* Backgrounds */\n  --chat--body--background: #eef3fb;\n  --chat--footer--background: #f8fafc;\n  --chat--footer--color: #111827;\n}\n\n/* Make messages a bit wider in this modern layout */\n.chat-message {\n  max-width: 75%;\n}\n",
          "responseMode": "responseNodes"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -4240,
        400
      ],
      "id": "9cb18be4-41aa-4358-9c39-4af22678ceeb",
      "name": "When chat message received",
      "webhookId": "b0b51872-069d-4a26-a7dc-8418a3272be0"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output_restart }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    },
                    "id": "6d8be655-094d-4510-a6fe-62821698da99"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "RESTART"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output_escalate_to_support }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    },
                    "id": "67289272-30f8-474c-93b4-fc49418612ae"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ESCALATE"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output_valid }}",
                    "rightValue": false,
                    "operator": {
                      "type": "boolean",
                      "operation": "false"
                    },
                    "id": "b67d9c82-0746-4de8-bf48-21cf6c8ddde7"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "INVALID"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output_valid }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    },
                    "id": "24815e95-4f56-429c-b733-e546decb3520"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "VALID"
            }
          ]
        },
        "options": {}
      },
      "id": "25cba1d9-2600-4818-9e8d-4702b6ca51ea",
      "name": "Check Validation Result",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -2416,
        368
      ]
    },
    {
      "parameters": {
        "message": "={{ $json.output_responseToUser }}",
        "waitUserReply": false,
        "options": {}
      },
      "id": "6d3303e6-ef28-493d-809d-80392a9b02d2",
      "name": "Show Validation Error",
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1,
      "position": [
        -1856,
        416
      ]
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "O9ZN8RiMMFf7QBad",
          "mode": "list",
          "cachedResultName": "Return_requests",
          "cachedResultUrl": "/projects/tCWZBLpIXxOWy1g1/datatables/O9ZN8RiMMFf7QBad"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "session_id": "={{ $('When chat message received').item.json.sessionId }}",
            "status": "open",
            "currentStepIndex": "1",
            "retryCount": "0"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "currentStepIndex",
              "displayName": "currentStepIndex",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "retryCount",
              "displayName": "retryCount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "order_number",
              "displayName": "order_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "return_reason",
              "displayName": "return_reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "item_condition",
              "displayName": "item_condition",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "resolution_type",
              "displayName": "resolution_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "email_confirmation",
              "displayName": "email_confirmation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "return_method",
              "displayName": "return_method",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -3344,
        512
      ],
      "id": "0db7d135-0f33-4d06-9ee0-42e8565c9950",
      "name": "Insert row"
    },
    {
      "parameters": {
        "message": "Thank you. I have forwarded your request to our support. You will receive an email with the next steps.",
        "waitUserReply": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1,
      "position": [
        -576,
        576
      ],
      "id": "bffa0f77-4eda-4dc2-b325-fa8377311194",
      "name": "Respond to Chat - Chat Completed"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "number",
                      "operation": "notExists",
                      "singleValue": true
                    },
                    "id": "f57a9e53-8485-4c63-909e-c7980ba17493"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "No more steps"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "More steps to complete"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -1440,
        944
      ],
      "id": "2bcd3b2b-333d-475a-9c5d-3f3fae91811e",
      "name": "More steps available?"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "O9ZN8RiMMFf7QBad",
          "mode": "list",
          "cachedResultName": "Return_requests",
          "cachedResultUrl": "/projects/tCWZBLpIXxOWy1g1/datatables/O9ZN8RiMMFf7QBad"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "={{ $('row_details').item.json.row.id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "currentStepIndex": "={{ $json.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "currentStepIndex",
              "displayName": "currentStepIndex",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "retryCount",
              "displayName": "retryCount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "order_number",
              "displayName": "order_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "return_reason",
              "displayName": "return_reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "item_condition",
              "displayName": "item_condition",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "resolution_type",
              "displayName": "resolution_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "email_confirmation",
              "displayName": "email_confirmation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "return_method",
              "displayName": "return_method",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "escalation_message",
              "displayName": "escalation_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -1136,
        992
      ],
      "id": "caeccdb4-2e45-4aa4-97aa-54a63f7fce7d",
      "name": "Update to next step"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "O9ZN8RiMMFf7QBad",
          "mode": "list",
          "cachedResultName": "Return_requests",
          "cachedResultUrl": "/projects/tCWZBLpIXxOWy1g1/datatables/O9ZN8RiMMFf7QBad"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "={{ $('row_details').item.json.row.id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "submitted"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "currentStepIndex",
              "displayName": "currentStepIndex",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "retryCount",
              "displayName": "retryCount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "order_number",
              "displayName": "order_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "return_reason",
              "displayName": "return_reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "item_condition",
              "displayName": "item_condition",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "resolution_type",
              "displayName": "resolution_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "email_confirmation",
              "displayName": "email_confirmation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "return_method",
              "displayName": "return_method",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "escalation_message",
              "displayName": "escalation_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -1136,
        768
      ],
      "id": "4f156c7e-39cb-4f8c-a500-1d437266a951",
      "name": "Mark as complete"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "tF6VBwcvHub5kdca",
          "mode": "list",
          "cachedResultName": "Support_messages",
          "cachedResultUrl": "/projects/tCWZBLpIXxOWy1g1/datatables/tF6VBwcvHub5kdca"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "={{ $('row_details').item.json.row.id }}"
            }
          ]
        },
        "limit": 1
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -880,
        704
      ],
      "id": "c35e60cb-6efe-47ee-8463-ab45f7b44b09",
      "name": "Get completed row"
    },
    {
      "parameters": {
        "message": "={{ $('Call State chatbot - v2 - Agent Routing Sub-Workflow').item.json.output_responseToUser }}\n\n{{ $('Next step available?').item.json.question }}",
        "waitUserReply": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1,
      "position": [
        -1136,
        1232
      ],
      "id": "97afdf0d-00eb-48ea-af20-7f46137c2956",
      "name": "Next question to user"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "O9ZN8RiMMFf7QBad",
          "mode": "list",
          "cachedResultName": "Return_requests",
          "cachedResultUrl": "/projects/tCWZBLpIXxOWy1g1/datatables/O9ZN8RiMMFf7QBad"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "session_id",
              "keyValue": "={{ $json.sessionId }}"
            }
          ]
        },
        "limit": 1
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -4032,
        400
      ],
      "id": "3af5c6f1-ab93-4aa8-b4de-b7e057e6f1cb",
      "name": "Get_row",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "079b4671-f530-4569-9774-0a50938c493a",
              "leftValue": "={{ $('Get_row').item.json.id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -3536,
        416
      ],
      "id": "14dd89ea-4d7f-4622-8003-4406b993d3af",
      "name": "Row_exists?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0cc1cb6f-2941-4a1d-b079-805007a495b9",
              "name": "row",
              "value": "={{ $json }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3136,
        400
      ],
      "id": "8e30440d-77ff-46ec-a634-87aec383ffa8",
      "name": "row_details"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "QT4AlFp3ZcHFxVUM",
          "mode": "list",
          "cachedResultName": "Returns_agent_configuration",
          "cachedResultUrl": "/projects/tCWZBLpIXxOWy1g1/datatables/QT4AlFp3ZcHFxVUM"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "={{ $json.row.currentStepIndex }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -2912,
        400
      ],
      "id": "670a75f5-1d37-4d7f-b7ae-1bb63fbf2573",
      "name": "Get current step"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "O9ZN8RiMMFf7QBad",
          "mode": "list",
          "cachedResultName": "Return_requests",
          "cachedResultUrl": "/projects/tCWZBLpIXxOWy1g1/datatables/O9ZN8RiMMFf7QBad"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "={{ $('row_details').item.json.row.id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "currentStepIndex",
              "displayName": "currentStepIndex",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "retryCount",
              "displayName": "retryCount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "order_number",
              "displayName": "order_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "return_reason",
              "displayName": "return_reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "item_condition",
              "displayName": "item_condition",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "resolution_type",
              "displayName": "resolution_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "email_confirmation",
              "displayName": "email_confirmation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "return_method",
              "displayName": "return_method",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "escalation_message",
              "displayName": "escalation_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -1952,
        736
      ],
      "id": "c687be74-e1b5-4e5f-9151-af4e66017476",
      "name": "Store data"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "QT4AlFp3ZcHFxVUM",
          "mode": "list",
          "cachedResultName": "Returns_agent_configuration",
          "cachedResultUrl": "/projects/tCWZBLpIXxOWy1g1/datatables/QT4AlFp3ZcHFxVUM"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "={{ $('Get current step').item.json.id + 1 }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -1696,
        816
      ],
      "id": "225bdc8a-54fd-41ba-a77d-a200b18f9445",
      "name": "Next step available?",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3d9dd9a6-25e9-4cb3-9a23-9790f166ff3d",
              "name": "={{ $('Get current step').item.json.name }}",
              "value": "={{ $('Call State chatbot - v2 - Agent Routing Sub-Workflow').item.json.output_extracted_information }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2176,
        592
      ],
      "id": "09cc1299-9978-4136-875a-2813322bceae",
      "name": "Set data key + value"
    },
    {
      "parameters": {
        "sendTo": "YOUREMAILADDRESS@YOURDOMAIN.COM",
        "subject": "Support escalation: ",
        "message": "=Support message has been escalated:\n\n{{ Object.entries($json).map(([key, value]) => `${key}: ${value}`).join('\\n') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -304,
        512
      ],
      "id": "67b911b9-eba0-4f5c-acfa-a722121b58d0",
      "name": "Send a message1",
      "webhookId": "d6c8ee57-cba3-4072-ba8b-9d4f624a3f48",
      "credentials": {
        "gmailOAuth2": {
          "id": "wBbIMAt9tf9xEEUe",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "pynKUTPspzRXdhWQ",
          "mode": "list",
          "cachedResultUrl": "/workflow/pynKUTPspzRXdhWQ",
          "cachedResultName": "State chatbot - v2 - Agent Routing Sub-Workflow - BLUEPRINT"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "chatInput": "={{ $('When chat message received').item.json.chatInput }}",
            "agentInstructions": "={{ $json.agentInstructions }}",
            "validationRule": "={{ $json.validationRule }}",
            "question": "={{ $json.question }}",
            "sessionId": "={{ $('When chat message received').item.json.sessionId }}",
            "field_name": "={{ $json.name }}"
          },
          "matchingColumns": [
            "chatInput",
            "agentInstructions",
            "validationRule",
            "question",
            "sessionId"
          ],
          "schema": [
            {
              "id": "chatInput",
              "displayName": "chatInput",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "agentInstructions",
              "displayName": "agentInstructions",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "validationRule",
              "displayName": "validationRule",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "question",
              "displayName": "question",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "field_name",
              "displayName": "field_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -2672,
        400
      ],
      "name": "Call State chatbot - v2 - Agent Routing Sub-Workflow",
      "id": "665e5000-037f-4244-a82f-eaf11cd03ca5"
    },
    {
      "parameters": {
        "message": "Your response has been received. Open a new chat to process another return.",
        "waitUserReply": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1,
      "position": [
        -3536,
        224
      ],
      "id": "b63a5555-11ce-47c4-9d6c-71358d1d6660",
      "name": "Respond to chat (chat complete)"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5d14c56b-db18-4d52-8909-45b2774d4012",
              "name": "retryCount",
              "value": "={{ $('Get_row').item.json.retryCount + 1}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3328,
        224
      ],
      "id": "6a30bb77-f9d1-46d2-9a9d-162fc2ab7725",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "message": "=Let's start again. {{ $('Get first step').item.json.question }}",
        "waitUserReply": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1,
      "position": [
        -1168,
        -336
      ],
      "id": "e9d781bd-c9a4-42d7-863a-9e5f979b7bb0",
      "name": "Respond to Chat - Start Again"
    },
    {
      "parameters": {
        "message": "Sorry it seems that we're having issues competing this request. Please write a message below and we'll forward it to support along with your request. Please provide as much detail as possible along with your details and contact information.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1,
      "position": [
        -1616,
        128
      ],
      "id": "afdc20d7-fbe5-4bef-9d15-f5b9fcf646a1",
      "name": "Respond to Chat - Escalate to support"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Get_row').item.json.retryCount}}",
                    "rightValue": 3,
                    "operator": {
                      "type": "number",
                      "operation": "lt"
                    },
                    "id": "e75b75f8-e4c5-422f-921b-92f698bcc38c"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Not exceeded retries"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Exceeded retries"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -1968,
        -144
      ],
      "id": "bbaf1142-6fe7-444b-acfb-291038992fe6",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "O9ZN8RiMMFf7QBad",
          "mode": "list",
          "cachedResultName": "Return_requests",
          "cachedResultUrl": "/projects/tCWZBLpIXxOWy1g1/datatables/O9ZN8RiMMFf7QBad"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "={{ $('row_details').item.json.row.id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "retryCount": "={{ $('Get_row').item.json.retryCount + 1}}",
            "status": "open",
            "return_reason": "={{null}}",
            "currentStepIndex": "1",
            "resolution_type": "={{null}}",
            "return_method": "={{null}}",
            "escalation_message": "={{null}}",
            "order_number": "={{null}}",
            "email_confirmation": "={{null}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "currentStepIndex",
              "displayName": "currentStepIndex",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "retryCount",
              "displayName": "retryCount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "order_number",
              "displayName": "order_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "return_reason",
              "displayName": "return_reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "resolution_type",
              "displayName": "resolution_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "email_confirmation",
              "displayName": "email_confirmation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "return_method",
              "displayName": "return_method",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "escalation_message",
              "displayName": "escalation_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "item_condition",
              "displayName": "item_condition",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -1632,
        -288
      ],
      "id": "3580d1bb-b1ea-476a-bb76-17e5614dc46d",
      "name": "Update row + retries"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "QT4AlFp3ZcHFxVUM",
          "mode": "list",
          "cachedResultName": "Returns_agent_configuration",
          "cachedResultUrl": "/projects/tCWZBLpIXxOWy1g1/datatables/QT4AlFp3ZcHFxVUM"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "=1"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -1392,
        -320
      ],
      "id": "c60999b1-48b2-4eb5-ae6a-dc59205cf397",
      "name": "Get first step"
    },
    {
      "parameters": {
        "content": "## <- Connect this node\nWhen you want to start sending emails",
        "height": 256,
        "width": 320
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -352,
        432
      ],
      "typeVersion": 1,
      "id": "648e1a29-98ad-45ed-9e22-b86f8353b35f",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "[![The AI Automators](https://www.theaiautomators.com/wp-content/uploads/2025/03/gray-logo.png)](https://www.theaiautomators.com/)",
        "height": 380,
        "width": 580,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -4272,
        -240
      ],
      "id": "ec3514f4-1277-40df-b085-68c22888bc48",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "@[youtube](QYLvnWAzcYY)",
        "height": 384,
        "width": 656,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3664,
        -240
      ],
      "id": "b6be0e49-83bb-4453-8089-cd9df073ebb3",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "## <- Connect this node\nWhen you want to start sending emails",
        "height": 256,
        "width": 320
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -896,
        -64
      ],
      "typeVersion": 1,
      "id": "7689074e-759f-400f-840e-e5677a42684d",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "O9ZN8RiMMFf7QBad",
          "mode": "list",
          "cachedResultName": "Return_requests",
          "cachedResultUrl": "/projects/tCWZBLpIXxOWy1g1/datatables/O9ZN8RiMMFf7QBad"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "={{ $('row_details').item.json.row.id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "escalation_message": "={{ $json.chatInput }}",
            "status": "escalated"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "currentStepIndex",
              "displayName": "currentStepIndex",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "retryCount",
              "displayName": "retryCount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "order_number",
              "displayName": "order_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "return_reason",
              "displayName": "return_reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "resolution_type",
              "displayName": "resolution_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "email_confirmation",
              "displayName": "email_confirmation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "return_method",
              "displayName": "return_method",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "escalation_message",
              "displayName": "escalation_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "item_condition",
              "displayName": "item_condition",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -1328,
        80
      ],
      "id": "2fb3299f-9157-450d-a29e-854b2308d70c",
      "name": "Add escalation message"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "O9ZN8RiMMFf7QBad",
          "mode": "list",
          "cachedResultName": "Return_requests",
          "cachedResultUrl": "/projects/tCWZBLpIXxOWy1g1/datatables/O9ZN8RiMMFf7QBad"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "={{ $('row_details').item.json.row.id }}"
            }
          ]
        },
        "limit": 1
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -1104,
        32
      ],
      "id": "f8d973ab-d2ab-4dd2-96bd-e59e8b73c4db",
      "name": "Get incomplete row"
    },
    {
      "parameters": {
        "sendTo": "YOUREMAILADDRESS@YOURDOMAIN.COM",
        "subject": "=Support escalation: {{ $json.email_confirmation }}",
        "message": "=Support request via agent could not be completed by user:\n\nMessage from user:\n{{ $('Respond to Chat - Escalate to support').item.json.chatInput }}\n\nOrder number: {{ $json.order_number }}\nReturn method: {{ $json.return_method }}\nResolution type: {{ $json.resolution_type }}\nReturn reason: {{ $json.return_reason }}\nCustomer email: {{ $json.email_confirmation }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -832,
        16
      ],
      "id": "91561454-4caa-4980-81b0-46925cea7022",
      "name": "Send a message",
      "webhookId": "301724a6-d721-4a54-b31c-ec64799231b0",
      "credentials": {
        "gmailOAuth2": {
          "id": "wBbIMAt9tf9xEEUe",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "submitted",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "1ab57c04-c635-4ffe-8e81-a218a81ad3cc"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "00670d3b-cd87-4864-815a-3d243475c032",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "escalated",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -3808,
        384
      ],
      "id": "9d5c32cd-a316-49fb-a833-8967719fd343",
      "name": "Check if return is complete"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Get_row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Validation Result": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Chat - Escalate to support",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Show Validation Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set data key + value",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Show Validation Error": {
      "main": [
        []
      ]
    },
    "Insert row": {
      "main": [
        [
          {
            "node": "row_details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "More steps available?": {
      "main": [
        [
          {
            "node": "Mark as complete",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update to next step",
            "type": "main",
            "index": 0
          },
          {
            "node": "Next question to user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark as complete": {
      "main": [
        [
          {
            "node": "Get completed row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get completed row": {
      "main": [
        [
          {
            "node": "Respond to Chat - Chat Completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Next question to user": {
      "main": [
        []
      ]
    },
    "Get_row": {
      "main": [
        [
          {
            "node": "Check if return is complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Row_exists?": {
      "main": [
        [
          {
            "node": "row_details",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "row_details": {
      "main": [
        [
          {
            "node": "Get current step",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get current step": {
      "main": [
        [
          {
            "node": "Call State chatbot - v2 - Agent Routing Sub-Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store data": {
      "main": [
        [
          {
            "node": "Next step available?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Next step available?": {
      "main": [
        [
          {
            "node": "More steps available?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set data key + value": {
      "main": [
        [
          {
            "node": "Store data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call State chatbot - v2 - Agent Routing Sub-Workflow": {
      "main": [
        [
          {
            "node": "Check Validation Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to chat (chat complete)": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Chat - Escalate to support": {
      "main": [
        [
          {
            "node": "Add escalation message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Update row + retries",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Chat - Escalate to support",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row + retries": {
      "main": [
        [
          {
            "node": "Get first step",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get first step": {
      "main": [
        [
          {
            "node": "Respond to Chat - Start Again",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add escalation message": {
      "main": [
        [
          {
            "node": "Get incomplete row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if return is complete": {
      "main": [
        [
          {
            "node": "Respond to chat (chat complete)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to chat (chat complete)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Row_exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "56e6899b-77c2-49ac-a860-9c443df91566",
  "meta": {
    "instanceId": "b5d1ea132a4e071e6288b3143f31284b91560858bdef3f0c88a49f587fc91a29"
  },
  "id": "d15W1w6RhSREjzZB",
  "tags": [
    {
      "updatedAt": "2025-05-12T13:43:59.783Z",
      "createdAt": "2025-05-12T13:43:59.783Z",
      "id": "d3ygIhrGjDmzgrW0",
      "name": "TheAIAutomators.com"
    }
  ]
}