n8n_doc/state machne doc/State Machine Workflows - Approach 1 - BLUEPRINT (3) (1).json
{
  "name": "State Machine Workflows - Approach 1 - BLUEPRINT",
  "nodes": [
    {
      "parameters": {
        "options": {
          "responseMode": "responseNodes"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -1184,
        1008
      ],
      "id": "284a747c-e99c-4a43-b9cc-58898089cef9",
      "name": "When chat message received",
      "webhookId": "67066dee-36fd-4055-8d15-4f75f2984eeb"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n    \"extracted_information\": \"information\",\n    \"escalate_to_support\": false\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -160,
        1248
      ],
      "id": "9464c4c7-6dac-4d9a-a168-593543969bcb",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -624,
        1248
      ],
      "id": "65507d5b-ec8c-44d8-8598-b743de2411cd",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "ZOpj5TOQEHDUyvZz",
          "name": "OpenAi account 2 (AW)"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('When chat message received').item.json.sessionId }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -464,
        1248
      ],
      "id": "ca5fe025-8b97-4332-859c-15079198b535",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a data validation and extraction assistant.\n\nYour task is to:\n1. Analyze the user's response to the current question\n2. Extract the requested information based on the current state\n3. If the user has not provided the requested information then respond to chat to prompt the user to provide the correct information.\n\nYou MUST populate \"extracted_information\" when outputting a response. Call the \"respond to chat\" tool to request updated details from the user if the information has not been provided.\n\nIf the user repeatedly fails to provide the information (more than 3 times) then respond with \"escalate_to_support\": true.\n\nIf the user wants to start over or revert to a previous step, mention that you are going to start again. restart = true. Otherwise restart = false.\n\nInformation to extract:\n- Must be a name.\n If the user has not provided this then call the \"respond to chat\" tool to request updated details.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -448,
        1008
      ],
      "id": "a8b0ea3a-a52a-47e6-b209-8cb41d5a3ac7",
      "name": "Validate and extract"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "48394e7f-063d-45b5-acb3-975aa0ab7d41",
                    "leftValue": "={{ $('Validate and extract').first().json.output.escalate_to_support }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ESCALATE_TO_SUPPORT"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -48,
        1008
      ],
      "id": "44b9ffd2-7fb8-4404-b9e0-2c6e3c38de69",
      "name": "IF"
    },
    {
      "parameters": {
        "message": "=Thanks. Now please provide your email address.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1,
      "position": [
        560,
        1056
      ],
      "id": "1be5d1be-82cb-4e9b-8c81-c8417d88d049",
      "name": "Respond to Chat5"
    },
    {
      "parameters": {
        "message": "=Let's start from the start. Please provide your name.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1,
      "position": [
        5840,
        -400
      ],
      "id": "871ef40f-e2e3-428f-8c3c-133c23a85beb",
      "name": "Respond to Chat - Restart"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n    \"extracted_information\": \"information\",\n    \"escalate_to_support\": false,\n  \"restart\": false\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1520,
        1296
      ],
      "id": "eec6d1a7-ed89-438e-bfb2-d4db8bceacd5",
      "name": "Structured Output Parser2"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1040,
        1296
      ],
      "id": "0515ddd7-8cd8-48ba-bc01-c01098a8457d",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "ZOpj5TOQEHDUyvZz",
          "name": "OpenAi account 2 (AW)"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('When chat message received').item.json.sessionId }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1200,
        1296
      ],
      "id": "b90888f6-659a-4814-b5e1-03b0aa13b6aa",
      "name": "Simple Memory2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a data validation and extraction assistant.\n\nYour task is to:\n1. Analyze the user's response to the current question\n2. Extract the requested information based on the current state\n3. If the user has not provided the requested information then respond to chat to prompt the user to provide the correct information.\n\nYou MUST populate \"extracted_information\" when outputting a response. Call the \"respond to chat\" tool to request updated details from the user if the information has not been provided.\n\nIf the user repeatedly fails to provide the information (more than 3 times) then respond with \"escalate_to_support\": true.\n\nIf the user wants to start over or revert to a previous step. Set the \"restart\" field = true. Otherwise \"restart\" = false.\n\nInformation to extract:\n- Must be a valid email address\n If the user has not provided this then call the \"respond to chat\" tool to request updated details.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1216,
        1056
      ],
      "id": "9cb5e30b-9b1b-4b6b-bb12-94b52c1158c1",
      "name": "Validate and extract1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2219dd4a-2f14-4a7e-99ff-954eb3d906df",
                    "leftValue": "={{ $('Validate and extract1').first().json.output.restart }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "RESTART"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "48394e7f-063d-45b5-acb3-975aa0ab7d41",
                    "leftValue": "={{ $('Validate and extract1').first().json.output.escalate_to_support }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ESCALATE_TO_SUPPORT"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1616,
        1056
      ],
      "id": "6d59d5de-409c-45ab-a61f-75f15dc796c9",
      "name": "IF1"
    },
    {
      "parameters": {
        "message": "=Thanks. Now please provide your user ID.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1,
      "position": [
        2240,
        1104
      ],
      "id": "b36865cb-42e1-4736-b25b-49953a71e7c0",
      "name": "Respond to Chat6"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n    \"extracted_information\": \"information\",\n    \"escalate_to_support\": false,\n  \"restart\": false\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        3232,
        1328
      ],
      "id": "3dfeecd8-499d-4e49-970a-e99580120d4e",
      "name": "Structured Output Parser3"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        2784,
        1328
      ],
      "id": "c9856cec-b6d3-492a-95ee-cff7d2a9fc0c",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "ZOpj5TOQEHDUyvZz",
          "name": "OpenAi account 2 (AW)"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('When chat message received').item.json.sessionId }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        2944,
        1328
      ],
      "id": "645f8989-4a59-4541-bb1e-3342862ed2c8",
      "name": "Simple Memory3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a data validation and extraction assistant.\n\nYour task is to:\n1. Analyze the user's response to the current question\n2. Extract the requested information based on the current state\n3. If the user has not provided the requested information then respond to chat to prompt the user to provide the correct information.\n\nYou MUST populate \"extracted_information\" when outputting a response. Call the \"respond to chat\" tool to request updated details from the user if the information has not been provided.\n\nIf the user repeatedly fails to provide the information (more than 3 times) then respond with \"escalate_to_support\": true.\n\nIf the user wants to start over or revert to a previous step, mention that you are going to start again. restart = true. Otherwise restart = false.\n\nInformation to extract:\n-  Must be a 6 digit user ID.\n If the user has not provided this then call the \"respond to chat\" tool to request updated details.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        2896,
        1104
      ],
      "id": "18f11884-6e09-4abb-ada0-8858e12be008",
      "name": "Validate and extract2"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2219dd4a-2f14-4a7e-99ff-954eb3d906df",
                    "leftValue": "={{ $('Validate and extract2').first().json.output.restart }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "RESTART"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "48394e7f-063d-45b5-acb3-975aa0ab7d41",
                    "leftValue": "={{ $('Validate and extract2').first().json.output.escalate_to_support }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ESCALATE_TO_SUPPORT"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        3296,
        1104
      ],
      "id": "58987038-7cd2-40bd-a6b2-c0a9513ac554",
      "name": "IF2"
    },
    {
      "parameters": {
        "message": "=Please provide the request or issue you are experiencing.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1,
      "position": [
        4000,
        1088
      ],
      "id": "7768cd36-ce4d-4119-ab2d-6139fac5f7bd",
      "name": "Respond to Chat7"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n    \"extracted_information\": \"information\",\n    \"escalate_to_support\": false,\n  \"restart\": false\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        4976,
        1312
      ],
      "id": "379d9a39-0d7b-4330-93e3-a508bb2e3cdc",
      "name": "Structured Output Parser4"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        4544,
        1312
      ],
      "id": "e07adffd-6ab9-4d8f-af18-e3cbeeb6f92c",
      "name": "OpenAI Chat Model4",
      "credentials": {
        "openAiApi": {
          "id": "ZOpj5TOQEHDUyvZz",
          "name": "OpenAi account 2 (AW)"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('When chat message received').item.json.sessionId }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        4704,
        1312
      ],
      "id": "7ce2e123-e2c7-4129-bc03-ab411887d2cf",
      "name": "Simple Memory4"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a data validation and extraction assistant.\n\nYour task is to:\n1. Analyze the user's response to the current question\n2. Extract the requested information based on the current state\n3. If the user has not provided the requested information then respond to chat to prompt the user to provide the correct information.\n\nYou MUST populate \"extracted_information\" when outputting a response. Call the \"respond to chat\" tool to request updated details from the user if the information has not been provided.\n\nIf the user repeatedly fails to provide the information (more than 3 times) then respond with \"escalate_to_support\": true.\n\nIf the user wants to start over or revert to a previous step, mention that you are going to start again. restart = true. Otherwise restart = false.\n\nInformation to extract:\n- Must be a valid support request explaining an issue or request.\n\n If the user has not provided this then call the \"respond to chat\" tool to request updated details.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        4656,
        1088
      ],
      "id": "91114df8-36d6-4af2-8340-c7c94396f160",
      "name": "Validate and extract3"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2219dd4a-2f14-4a7e-99ff-954eb3d906df",
                    "leftValue": "={{ $('Validate and extract3').first().json.output.restart }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "RESTART"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "48394e7f-063d-45b5-acb3-975aa0ab7d41",
                    "leftValue": "={{ $('Validate and extract3').first().json.output.escalate_to_support }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ESCALATE_TO_SUPPORT"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        5056,
        1088
      ],
      "id": "3bb6df2a-924e-4fc8-bce5-092294f2cbde",
      "name": "IF3"
    },
    {
      "parameters": {
        "message": "We've sent this message to our support. You should receive a response within 48 hours.",
        "waitUserReply": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1,
      "position": [
        5584,
        1136
      ],
      "id": "fffca39a-3fe6-49e4-a210-378600e7e2e0",
      "name": "Respond to Chat8"
    },
    {
      "parameters": {
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTool",
      "typeVersion": 1,
      "position": [
        -320,
        1248
      ],
      "id": "fe19d856-7202-48f6-8ce1-9fc8a85c5e8b",
      "name": "Respond to Chat"
    },
    {
      "parameters": {
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTool",
      "typeVersion": 1,
      "position": [
        1360,
        1296
      ],
      "id": "1c470176-f36d-442e-abb1-d46fbd3f7b57",
      "name": "Respond to Chat1"
    },
    {
      "parameters": {
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTool",
      "typeVersion": 1,
      "position": [
        3072,
        1328
      ],
      "id": "61c79066-8691-4c67-b09e-acfd21f193a4",
      "name": "Respond to Chat2"
    },
    {
      "parameters": {
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTool",
      "typeVersion": 1,
      "position": [
        4848,
        1312
      ],
      "id": "502f3d0d-a51f-4ffb-a57e-1b909055d0a4",
      "name": "Respond to Chat3"
    },
    {
      "parameters": {
        "sendTo": "YOUR_EMAIL_ADDRESS@YOURDOMAIN.COM",
        "subject": "=Support query:  {{ $json.email }}",
        "message": "=Support message:<br><br>\n\nName: {{ $json.name }}<br>\nEmail: {{ $json.email }}<br>\nUser Id: {{ $json.user_id }}<br>\nRequest: {{ $json.request_content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        6096,
        1136
      ],
      "id": "a13670d0-7a42-4030-ab3a-cda9c0d2f021",
      "name": "Send a message1",
      "webhookId": "3874a7a4-a34c-4214-b542-c72984773fc9",
      "credentials": {
        "gmailOAuth2": {
          "id": "wBbIMAt9tf9xEEUe",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "015ad533-eafb-4f07-a3e0-b501693dce5d",
              "name": "name",
              "value": "={{ $('Validate and extract').item.json.output.extracted_information }}",
              "type": "string"
            },
            {
              "id": "1a9ba953-73e9-4408-9997-afbd1a4940d7",
              "name": "email",
              "value": "={{ $('Validate and extract1').item.json.output.extracted_information }}",
              "type": "string"
            },
            {
              "id": "64e5b7ff-6f5e-49ad-9643-7129d537be03",
              "name": "user_id",
              "value": "={{ $('Validate and extract2').item.json.output.extracted_information }}",
              "type": "string"
            },
            {
              "id": "ff45c3e7-2daf-4025-b0a0-5a11628d9947",
              "name": "request_content",
              "value": "={{ $('Validate and extract3').item.json.output.extracted_information }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5856,
        1136
      ],
      "id": "81cb2abc-0b87-480e-b68e-d936c84289f2",
      "name": "Collect extracted data"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        5568,
        -160
      ],
      "id": "9db2b2bc-f66e-495e-b7b4-1dfe9b21b3af",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "message": "=Unfortuantely I can't proceed without the required details. Please send an email to support@youremailaddress.com so we can help. Thank you.",
        "waitUserReply": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1,
      "position": [
        5952,
        336
      ],
      "id": "30531cfc-e67a-4200-8cae-7ca1657ae2d6",
      "name": "Respond to Chat9"
    },
    {
      "parameters": {
        "content": "## RESTART CHAT",
        "height": 512,
        "width": 752
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        5424,
        -464
      ],
      "typeVersion": 1,
      "id": "467e69e0-9cb4-4d0c-bb13-a1ec1a942655",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## ESCALATE PATH",
        "height": 336,
        "width": 496,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        5792,
        224
      ],
      "typeVersion": 1,
      "id": "2e23d619-9baf-4a38-91cc-66f02ff3c271",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "[![The AI Automators](https://www.theaiautomators.com/wp-content/uploads/2025/03/gray-logo.png)](https://www.theaiautomators.com/)",
        "height": 380,
        "width": 580,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -368,
        480
      ],
      "id": "d6b1ef80-e114-4cf4-b27f-2317160f0ba1",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "@[youtube](QYLvnWAzcYY)",
        "height": 384,
        "width": 656,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        256,
        480
      ],
      "id": "fc3cbe5b-3e3d-44b6-82c3-36e4a0f07a68",
      "name": "Sticky Note8"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Validate and extract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Validate and extract",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Validate and extract",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "Validate and extract",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Validate and extract": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Respond to Chat9",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Chat5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Chat5": {
      "main": [
        [
          {
            "node": "Validate and extract1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Chat - Restart": {
      "main": [
        [
          {
            "node": "Validate and extract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser2": {
      "ai_outputParser": [
        [
          {
            "node": "Validate and extract1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Validate and extract1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory2": {
      "ai_memory": [
        [
          {
            "node": "Validate and extract1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Validate and extract1": {
      "main": [
        [
          {
            "node": "IF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Chat9",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Chat6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Chat6": {
      "main": [
        [
          {
            "node": "Validate and extract2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser3": {
      "ai_outputParser": [
        [
          {
            "node": "Validate and extract2",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Validate and extract2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory3": {
      "ai_memory": [
        [
          {
            "node": "Validate and extract2",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Validate and extract2": {
      "main": [
        [
          {
            "node": "IF2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF2": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Chat9",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Chat7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Chat7": {
      "main": [
        [
          {
            "node": "Validate and extract3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser4": {
      "ai_outputParser": [
        [
          {
            "node": "Validate and extract3",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Validate and extract3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory4": {
      "ai_memory": [
        [
          {
            "node": "Validate and extract3",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Validate and extract3": {
      "main": [
        [
          {
            "node": "IF3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF3": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Chat9",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Chat8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Chat": {
      "ai_tool": [
        [
          {
            "node": "Validate and extract",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Chat1": {
      "ai_tool": [
        [
          {
            "node": "Validate and extract1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Chat2": {
      "ai_tool": [
        [
          {
            "node": "Validate and extract2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Chat3": {
      "ai_tool": [
        [
          {
            "node": "Validate and extract3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Chat8": {
      "main": [
        [
          {
            "node": "Collect extracted data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "Respond to Chat - Restart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect extracted data": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "a9b13479-7a88-4416-81e7-df21ff38066f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b5d1ea132a4e071e6288b3143f31284b91560858bdef3f0c88a49f587fc91a29"
  },
  "id": "2K0wx263MupIkH3L",
  "tags": [
    {
      "updatedAt": "2025-05-12T13:43:59.783Z",
      "createdAt": "2025-05-12T13:43:59.783Z",
      "id": "d3ygIhrGjDmzgrW0",
      "name": "TheAIAutomators.com"
    }
  ]
}